{{ form_start(form, { attr: { class: 'form d-flex flex-column flex-lg-row' }}) }}
<!--begin::Aside column-->
<div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
    <div class="card card-flush py-4">
        <div class="card-header">
            <div class="card-title">
                <label class="form-label required">Picture</label>
            </div>
        </div>
        <div class="card-body text-center pt-0">
            {{ form_row(form.picture, { picture_url: asset(uploads_folder ~ '/products/' ~ product.picture) }) }}
        </div>
    </div>
</div>
<!--end::Aside column-->
<!--begin::Main column-->
<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
    <div class="d-flex flex-column gap-7 gap-lg-10">
        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>General</h2>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="mb-10">
                    {{ form_row(form.name) }}
                    <div class="text-muted fs-7">The product name must be unique</div>
                </div>
                <div class="mb-10">
                    {{ form_row(form.productType) }}
                </div>
                <div class="mb-10">
                    {{ form_row(form.unit) }}
                    <div class="text-muted fs-7 mt-3">
                        This unit of measurement will be used to calculate the cost in the recipes (See
                        <a href="{{ path('app_admin_conversion_factors_index') }}" target="_blank"
                        >Conversion factors</a>)
                    </div>
                </div>
                <div class="mb-10">
                    {{ form_row(form.pricePerUnit) }}
                    <div class="text-muted fs-7">The price can have 2 decimals as much</div>
                </div>
                <div>
                    <label class="form-label pb-3">Notes</label>
                    {{ form_row(form.notes) }}
                    <trix-editor input="product_form_notes"></trix-editor>
                    <div class="text-muted fs-7 mt-3">Set a description to the product for better visibility</div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Tab pane-->
    <div class="d-flex justify-content-end">
        <a href="{{ path('app_admin_products_index') }}" class="btn btn-light me-5">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
<!--end::Main column-->
{{ form_end(form) }}