{% for product in products %}
    <tr data-row-index="{{ loop.index0 }}">
        <td>
            <a href="{{ path('app_admin_products_show', { id: product.id }) }}" class="link text-black">
                {{ product.name|capitalize }}
            </a>
        </td>
        <td>
            {% set url = asset(
                product.picture
                ? uploads_folder ~ '/products/' ~ product.picture
                : 'templates/media/files/blank-image.svg'
            ) %}
            <a href="#" data-action="admin--shared--image-zoom#zoomImage">
                <img src="{{ url }}" class="zoom-image" alt="{{ product.name }}" width="32">
            </a>
        </td>
        <td>{{ product.productType.name|capitalize }}</td>
        <td>{{ '%s x %s'|format(product.pricePerUnit|number_format(2), product.unit) }}</td>
        <td>{{ product.updatedAt|time_diff }}</td>
        <td>
            <twig:show-button url="{{ path('app_admin_products_show', { id: product.id }) }}"/>
            <twig:edit-button
                    url="{{ path('app_admin_products_edit', { id: product.id }) }}"
                    showInModal="0"
            />
            <twig:delete-button
                    url="{{ path('app_admin_products_delete', { id: product.id }) }}"
                    csrfTokenId="{{ csrf_token('delete' ~ product.id) }}"
                    method="delete"
            />
        </td>
    </tr>
{% endfor %}
