{% for recipeType in recipeTypes %}
    <tr data-row-index="{{ loop.index0 }}">
        <td>{{ recipeType.name|capitalize }}</td>
        <td>{{ recipeType.expensesPercentage }}</td>
        <td>{{ recipeType.profitPercentage }}</td>
        <td>
            <twig:edit-button url="{{ path('app_admin_recipe_types_edit', { id: recipeType.id }) }}"/>
            <twig:delete-button
                    url="{{ path('app_admin_recipe_types_delete', { id: recipeType.id }) }}"
                    csrfTokenId="{{ csrf_token('delete' ~ recipeType.id) }}"
                    method="delete"
            />
        </td>
    </tr>
{% endfor %}
