{{ form_start(form, { attr: { class: 'form d-flex flex-column flex-lg-row', novalidate: 'novalidate' }}) }}
<!--begin::Aside column-->
<div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
    <div class="card card-flush py-4">
        <div class="card-header">
            <div class="card-title">
                <label class="form-label required">Picture</label>
            </div>
        </div>
        <div class="card-body text-center pt-0">
            {{ form_row(form.picture, { picture_url:
                recipe.picture ? asset(uploads_folder ~ '/recipes/' ~ recipe.picture) : '' }) }}
        </div>
    </div>
</div>
<!--end::Aside column-->
<!--begin::Main column-->
<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
    <div class="d-flex flex-column gap-7 gap-lg-10">
        <div class="card card-flush py-4">
            <div class="card-body pt-0">
                <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8"
                    role="tablist">
                    <!--begin:::Tab item-->
                    <li class="nav-item">
                        <a class="nav-link text-active-primary pb-4 active"
                           data-bs-toggle="tab"
                           href="#recipe_overview_tab"
                           aria-selected="false"
                           role="tab" tabindex="-1"
                        >Overview</a>
                    </li>
                    <!--end:::Tab item-->
                    <!--begin:::Tab item-->
                    <li class="nav-item">
                        <a class="nav-link text-active-primary pb-4"
                           data-bs-toggle="tab"
                           href="#recipe_ingredients_tab"
                           aria-selected="false"
                           role="tab" tabindex="-1"
                        >Ingredients</a>
                    </li>
                    <!--end:::Tab item-->
                    <!--begin:::Tab item-->
                    <li class="nav-item">
                        <a class="nav-link text-active-primary pb-4"
                           data-bs-toggle="tab"
                           href="#recipe_directions_tab"
                           aria-selected="false"
                           role="tab" tabindex="-1"
                        >Directions</a>
                    </li>
                    <!--end:::Tab item-->
                </ul>
                {% if not form.vars.valid %}
                    <twig:alert title="Task could not be completed"
                            message="Data could not be saved because there are errors in the form. Fix them and try again"
                                type="error"
                    />
                {% endif %}
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="recipe_overview_tab" role="tabpanel">
                        <div class="form-group row mb-10">
                            <div class="col-8">
                                {{ form_row(form.name) }}
                                <div class="text-muted fs-7">The product name must be unique</div>
                            </div>
                            <div class="col-4">
                                {{ form_row(form.recipeType) }}
                            </div>
                        </div>
                        <div class="mb-10">
                            <div class="d-none">
                                {{ form_widget(form.description) }}
                            </div>
                            <label class="form-label pb-3 required">Description</label>
                            <div class="{{ form.description.vars.errors|length > 0 ? 'form-control is-invalid m-0' : '' }}">
                                <trix-editor input="recipe_form_description"></trix-editor>
                            </div>
                            {{ form_errors(form.description) }}
                            <div class="text-muted fs-7 mt-3 mb-10">Set a great description about the Recipe</div>
                        </div>
                        <div class="form-group row mb-10">
                            <div class="col-6">
                                {{ form_row(form.expensesPercentage) }}
                                <div class="text-muted fs-7">Expenses can have up to two decimals</div>
                            </div>
                            <div class="col-6">
                                {{ form_row(form.profitPercentage) }}
                                <div class="text-muted fs-7">Expenses can have up to two decimals</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="recipe_ingredients_tab" role="tabpanel">
                        <twig:ingredients-collection :form="form" :initialFormData="recipe"/>
                    </div>
                    <div class="tab-pane fade" id="recipe_directions_tab" role="tabpanel">
                        <div class="mb-10">
                            <div class="d-none">
                                {{ form_widget(form.directions) }}
                            </div>
                            <div class="{{ form.directions.vars.errors|length > 0 ? 'form-control is-invalid' : '' }}">
                                <trix-editor input="recipe_form_directions"
                                             class="mw-lg-800px"
                                             data-controller="admin--shared--trix-toolbar"
                                             data-admin--shared--trix-toolbar-show-extended-toolbar-value="true"
                                ></trix-editor>
                            </div>
                            {{ form_errors(form.directions) }}
                            <div class="text-muted fs-7 mt-3 mb-10">
                                Provide detailed instructions for recipe preparation
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Tab pane-->
    <div class="d-flex justify-content-end">
        <a href="{{ path('app_admin_recipes_index') }}" class="btn btn-light me-5">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
<!--end::Main column-->
{{ form_end(form) }}